<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}">
<head>
  <meta charset="UTF-8">
  <title>Message</title>
  <!-- css-->
  <link rel="stylesheet" href="/css/message/Message.css">
  <!-- js-->
  <script type="text/javascript" th:src="@{/js/message/Message.js}"></script>
</head>
<body>
<div layout:fragment="content">
  <section class="message-container">
    <h1 class="message-title">알림</h1>
    <div class="message-item">
      <i class="fas fa-info-circle message-icon"></i>
      <div class="message-content">
        <p>방금 이메일로 보내드린 링크를 클릭하여 이메일 주소를 확인해 주세요. 전송된 이메일을 찾을 수 없다면, 인증 이메일 재전송을 요청하거나 이메일 주소를 변경하세요.</p>
        <p class="message-date">2024년 1월 20일</p>
      </div>
      <button class="close-button"><i class="fas fa-times"></i></button>
    </div>
    <div class="message-item">
      <i class="fas fa-info-circle message-icon"></i>
      <div class="message-content">
        <p>방금 이메일로 보내드린 링크를 클릭하여 이메일 주소를 확인해 주세요. 전송된 이메일을 찾을 수 없다면, 인증 이메일 재전송을 요청하거나 이메일 주소를 변경하세요.</p>
        <p class="message-date">2024년 1월 20일</p>
      </div>
      <button class="close-button"><i class="fas fa-times"></i></button>
    </div>
    <div class="message-item">
      <i class="fas fa-info-circle message-icon"></i>
      <div class="message-content">
        <p>방금 이메일로 보내드린 링크를 클릭하여 이메일 주소를 확인해 주세요. 전송된 이메일을 찾을 수 없다면, 인증 이메일 재전송을 요청하거나 이메일 주소를 변경하세요.</p>
        <p class="message-date">2024년 1월 20일</p>
      </div>
      <button class="close-button"><i class="fas fa-times"></i></button>
    </div>
    <div class="message-item">
      <i class="fas fa-info-circle message-icon"></i>
      <div class="message-content">
        <p>방금 이메일로 보내드린 링크를 클릭하여 이메일 주소를 확인해 주세요. 전송된 이메일을 찾을 수 없다면, 인증 이메일 재전송을 요청하거나 이메일 주소를 변경하세요.</p>
        <p class="message-date">2024년 1월 20일</p>
      </div>
      <button class="close-button"><i class="fas fa-times"></i></button>
    </div>
    <div class="message-item">
      <i class="fas fa-info-circle message-icon"></i>
      <div class="message-content">
        <p>방금 이메일로 보내드린 링크를 클릭하여 이메일 주소를 확인해 주세요. 전송된 이메일을 찾을 수 없다면, 인증 이메일 재전송을 요청하거나 이메일 주소를 변경하세요.</p>
        <p class="message-date">2024년 1월 20일</p>
      </div>
      <button class="close-button"><i class="fas fa-times"></i></button>
    </div>
  </section>
</div>
</body>
</html>