<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>EchoWorks</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/main/MainPage.css">
</head>
<body>
<div layout:fragment="content" class="main-page">
    <section class="hero-section">
        <h1 class="hero-title">EchoWorks</h1>
        <p class="hero-highlight">자신의 경험과 성취를 울림처럼 퍼뜨리세요.</p>
        <p class="hero-subtitle">
            단순히 포트폴리오를 관리하는 공간을 넘어<br />
            개인의 커리어와 성취가 과거에 머물지 않고,<br />
            현재와 미래에도 울림을 주는 영향력 있는 플랫폼입니다.
        </p>
        <button class="cta-button">지금 시작하기</button>
    </section>
</div>
</body>
</html>