<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>total Profile</title>
    <!-- css-->
    <link rel="stylesheet" href="/css/total/TotalPortfolio.css">
    <!-- js-->
    <script type="text/javascript" th:src="@{/js/total/TotalPortfolio.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <!-- 상단 네비게이션 -->
    <header class="navigation-bar">
        <div class="category-list">
        <button th:each="category : ${categories}"
                class="category-button"
                th:classappend="${category.categoryName == '예술'} ? 'active' : ''">
            <i th:class="${category.iconClass}"></i>
            <span th:text="${category.categoryName}"></span>
        </button>
        </div>
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="창의적인 포트폴리오를 검색해보세요!">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
    </header>

    <section class="portfolio-grid">
        <div class="portfolio-card" th:each="portfolio : ${portfolios}">
            <a th:href="@{'/totalPortfolio/' + ${portfolio.seq}}">
            <img src="/images/image.jpg" alt="프로젝트 썸네일" class="thumbnail">
            <h2 class="project-title" th:text="${portfolio.title}">프로젝트 제목</h2>
            <p class="project-info">
                <i class="fas fa-folder"></i> 카테고리: <span th:text="${portfolio.categoryName}">카테고리명</span>
            </p>
            <p class="project-info">
                <i class="fas fa-calendar-alt"></i> 등록 날짜:
                <span th:text="${#temporals.format(portfolio.regTime, 'yyyy-MM-dd')}">등록 날짜</span>
            </p>
            <p class="project-info">
                <i class="fas fa-user"></i> 작성자: <span th:text="${portfolio.memberName}">작성자명</span>
            </p>
            </a>
        </div>
    </section>
</div>
</body>
</html>